# EX3: Some Statistics with Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. 
User ***Jupyter Lab*** to view ``../../DATA/US_Baby_Names_right.csv'``.

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names=pd.read_csv('../../DATA/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

### Step 6. Are there more male or female names in the dataset?

In [5]:
g_g = baby_names.groupby('Gender')
g_g['Count'].count()

Gender
F    558846
M    457549
Name: Count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [6]:
names = baby_names.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [7]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [8]:
name_count_sum = names['Count'].sum()

In [9]:
name_count_sum.sort_values(ascending=False).head(1)

Name
Jacob    242874
Name: Count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [10]:
least_name_count = name_count_sum.min()
len(name_count_sum[name_count_sum == least_name_count])

2578

### Step 11. What is the median name occurrence?

In [11]:
name_count_sum.median()

49.0

### Step 12. What is the standard deviation of names?

In [12]:
name_count_sum.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [13]:
name_count_sum.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64